.product-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.product {
  width: 30%;
}

.product .image {
  width: 100%;
}

.price {
  display: flex;
  gap: 5px;
}
