.cart-overlay {
  position: fixed;
  z-index: 100;
  width: 325px;
  height: 540px;
  top: 50px;
  right: 90px;

  background-color: white;

  display: flex;
  flex-direction: column;
}

.cart-overlay-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5%;
}
