.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: #1d1f22;
}
.navigation {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.nav-btn {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  text-transform: capitalize;
  color: #1d1f22;
  border-bottom: 2px #1d1f22 solid;
}
.nav-btn-active {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  text-transform: capitalize;
  color: #5ece7b;
  border-bottom: 2px #5ece7b solid;
}
.header-left-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.currency-switch {
  font-size: large;
  background-color: white;
  border: none;
}

.cart-btn {
  margin-top: 8%;
  background-color: white;
  border: none;
}

.cart-img {
  min-height: 20px;
  min-width: 20px;
}

.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.cover .top {
  height: 80px;
  background-color: transparent;
}
.cover .bottom {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.cover.hidden {
  display: none;
}
