.product-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.product {
  width: 20%;
}

.image {
  width: 100%;
  /* object-fit: contain; */
}

.price {
  display: flex;
  gap: 5px;
}
