.description {
  display: flex;
  gap: 50px;
  margin-top: 10%;
}
.descr-left {
  width: 60%;
}
.descr-right {
  width: 30%;
}
.descr-right .attributes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.attribute {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.chosen-attribute {
  background-color: lightgreen;
}
.gallery {
  width: 100%;
  display: flex;
  gap: 50px;
  margin: 0;
}
.sidebar {
  display: flex;
  width: 20%;
  flex-direction: column;
  gap: 30px;
}
.sidebar-image {
  width: 100%;
}

.descr-image {
  width: 100%;
  object-fit: contain;
}
