.attribute {
  display: flex;
  gap: 10px;
}
.gallery {
  width: 100%;
  display: flex;
  margin: 0;
}
.sidebar {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 10px;
}
.sidebar-image {
  width: 150px;
}

.descr-image {
  width: 70%;
}
